<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="packet" connectionString="" />
    <add name="PacketAnalyst.Properties.Settings.PacketConnectionString"
      connectionString="Data Source=WINDEV\WGJ;Initial Catalog=Packet;User ID=sa;Password=111111;Application Name=&quot;.Net SqlClient Data Provider for PacketApp&quot;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>